{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="ui dividing header">Student</h1>
    <a href="{{ path('student_enter') }}" class="ui primary button">
    	New Student
    </a>
    <table class="ui celled table">
        <thead>
	    <tr>
	        <th>LastName FirstName</th>
		<th>Results</th>
	    </tr>
 	</thead>
	<tbody>
	{% for student in students %}
	    <tr>
	    	<td>{{ student.lastname ~ ' ' ~ student.firstName }}</td>
                <td><a href="{{ path('student_academic_transcript', { id: student.id }) }}">Academic transcript</a></td>
	    </tr>
	{% endfor %}
	</tbody>
    </table>
    {{ pagerfanta(students, 'semantic_ui_translated', { 'omitFirstPage': true }) }}
{% endblock content %}
