{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="ui dividing header">Domaines</h1>
    <a href="{{ path('domain_enter') }}" class="ui primary button">
        Nouveau domaine
    </a>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Libellé</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for domain in domains %}
            <tr>
                <td>{{ domain.label }}</td>
                <td>
                    <a href="#" class="ui button edit">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ pagerfanta(domains, 'semantic_ui_translated', { 'omitFirstPage': true }) }}
{% endblock content %}